# Ignore everything
*

# Exclude folders from above rule
!**/

# Block previously allowed folders
**/.cache/
**/.npm/
**/build/
**/coverage/
**/db-dev-data/
**/node_modules/

# Exclude source files
!*.ts
!*.tsx
!*.css
!*.svg
!index.html
!.eslintrc.cjs
!loader.js
!*.sql

# Etc
!*.json
!*.sh
!*.md
!*.yml
!*.yaml
!Dockerfile
!.gitignore

# Block previously allowed files
**/settings.json
