.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 5px;
}

.header {
  display: flex;
  flex: 40%;
}

.body {
  display: grid;
  flex: 60%;
  margin: 5px 50px;
  gap: 50px 75px;
  grid-template-columns: auto auto auto;
}

div {
  border: solid gray 1px;
}
